@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

  body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: url(/img/stardust.png);
        font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    }

    #header {
      font-family:'Nothing You Could Do', cursive;
      font-size: 40px;
      color:  #d91161;
      line-height: 60px;
      text-align: center;
      margin-top: 4px;

    }

    hr { width: 80%; opacity: 0.4; }

    #editor {
        margin: 0;
        position: absolute;
        top: 0px;
        bottom: 48px;
        left: 240px;
        right: 0;
        opacity: 0.6;
        font-size: 20px;
        line-height: 35px;;
        z-index: 10;
    }

    #toolbar {
        background-color: #666;
        opacity: 0.4;
        position:absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        text-align: right;
        height: 48px;
        z-index: 20;
    }

    #looks {
      cursor: pointer;
      background-position: 50% 50%;
      background-image: url(/img/looks.png);
      background-size: 48px 40px;
      background-repeat: no-repeat;
      position: absolute;
      width: 70px;
      height: 48px;
      right: 0px;
      display: inline-block;
      transition: background-color 500ms;
    }

    #looks:hover {
        background-color: rgba( 775, 775, 775, 0.4);
        transition: background-color 500ms;
    }

    #lookspanel {
        background-color: rgba(255, 255, 255, 0.4);
        width: 0px;
        height: 0px;
        position: absolute;
        bottom: 47px;
        right: 0px;
        display:none;
        z-index: 30;
   }

    #lookspanel.active {
        background-color: rgba(255, 255, 255, 0.4);
        width: 400px;
        height: 0px;
        position: absolute;
        bottom: 47px;
        display: block;
    }

    #looksearch {
      font-family:'Nothing You Could Do', cursive;
      width: 390px;
      height: 30px;
      font-size: 17px;
      right: 0px;
      bottom: 4px;
      opacity: 0.6;
      text-align: left;
      padding-left: 50px;
      background-color: #d2d2d2;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      background-size: 24px 24px;
      padding: 5px;
      position: absolute;
      border: none;
      overflow: hidden;
      transition: background-color 500ms;
      z-index: 35;

    }

     #looksearch:hover {
       background-color: rgba( 325, 210, 525, 0.8);
       transition: background-color 500ms;
    }


    #search {
      font-family:'Nothing You Could Do', cursive;
      width: 179px;
      height: 48px;
      font-size: 20px;
      left: 0px;
      color: #888888;
      opacity: 0.6;
      text-align: left;
      padding-left: 50px;
      background-color: #d2d2d2;
      background-image: url(/img/search.png);
      background-position: 0px 0px;
      background-repeat: no-repeat;
      position: absolute;
      border: none;
      z-index: 40;
      transition: background-color 500ms;

    }

     #search:hover {
       background-color: rgba( 325, 210, 525, 0.8);
       transition: background-color 500ms;
    }

     #title {
       font-family:'Nothing You Could Do', cursive;
       width: 179px;
       height: 48px;
       font-size: 20px;
       left: 299px;
       opacity: 0.6;
       text-align: left;
       padding-left: 50px;
       background-color: #d2d2d2;
       background-position: 0px 0px;
       background-repeat: no-repeat;
       position: absolute;
       border: none;
       transition: background-color 500ms;

       z-index: 45

    }

     #title:hover {
       background-color: rgba( 325, 210, 125, 0.8);
       transition: background-color 500ms;
    }

    #dashboard {
      width: 240px;
      height: 944px;
      cursor: pointer;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: rgba(0, 87, 200, 0.2);
      z-index: 15;
    }

    #action_upload {
        cursor: pointer;
        transition: background-color 500ms;
        background-image: url(/img/upload.png);
        background-position: 50% 50%;
        height: 48px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        display: inline-block;
        position: absolute;
        top: 0;
    }

    #action_upload:hover {
        background-color: rgba( 775, 775, 775, 0.4);
        transition: background-color 500ms;
    }



    #action_save {
        background-image: url(/img/save.png);
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        display: inline-block;
        position: absolute;
        left: 338px;
        display: none;
    }

    #action_preview {
        cursor: pointer;
        transition: background-color 500ms;
        background-image: url(/img/preview.png);
        background-position: 50% 50%;
        height: 48px;
        width: 70px;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        display: inline-block;
        position: absolute;
        right: 70px;
        z-index: 50;
    }

    #action_preview:hover {
        background-color: rgba( 775, 775, 775, 0.4);
        transition: background-color 500ms;
    }

    #action_newfile {
        cursor: pointer;
        transition: background-color 500ms;
        background-image: url(/img/plus.png);
        height: 48px;
        width: 70px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        display: inline-block;
        position: absolute;
        left: 229px;
        z-index: 55;

    }
    #action_newfile:hover {
        background-color: rgba( 775, 775, 775, 0.4);
        transition: background-color 500ms;
    }

    #star {
        cursor: pointer;
        transition: background-color 500ms;
        background-image: url(/img/star48.png);
        height: 48px;
        width: 70px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        display: inline-block;
        position: absolute;
        left: 528px;
        z-index: 60;
    }

    #star:hover {
        background-color: rgba( 325, 210, 125, 0.8);
        transition: background-color 500ms;
    }

    #star.active { background-color: rgba( 325, 210, 125, 0.8);}


    .file {
        background-image: url(/img/file.png);
        height: 50px;
        width: 200px;
        background-position: 10px 17px;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        display: inline-block;
        padding-left: 35px;
        transition: background-color 500ms;
        z-index: 70;

    }
    .file:hover {
        background-color: rgba(195, 255, 175, 0.9);
        transition: background-color 500ms;
     }

     .file label { cursor: pointer; font-weight: bold;  color: #bd138d; display: block; }
     .file strong { font-size: 12px;  color: #1161d9; }
     .file em { font-size: 12px; color: #60da11; }
     .file.active { background-color: rgba(195, 255, 175, 0.4) };


    .star {
        background-image: url(/img/star.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        display: inline-block;
        transition: background-color 500ms;
        z-index: 65;
    }
    .star:hover {
        background-color: rgba(195, 88, 175, 0.9);
        transition: background-color 500ms;
     }

     .panelicon {
      text-align: center;
      font-size: 22px;
      height: 24px;
      width: 385px;
      z-index: 80;
     }
     .panelicon:hover { background-color: rgba(36, 255, 111, 0.3)}

     #langpanel { overflow-y: scroll; max-height: 200px; position: absolute; bottom: 47px;background-color: rgba(60, 201, 240, 0.3); }
     #skinpanel { overflow-y: scroll; max-height: 200px; position: absolute; bottom: 251px; background-color: rgba(214, 0, 154, 0.3); }

     #skinpanel h2, #langpanel h2 { text-align: center; background-color: rgba(775, 775, 775, 0.3); }

     #preview {
       height: 941px;
       width: 850px;
       position: absolute;
       background-color: rgba(92, 0, 63, 0.6);
       bottom: 49px;
       right: 0px;
       display: none;
       z-index: 21;
     }

     #preview.active {
       display: block;
     }

     #preview iframe, iframe.webform-frame {
           width: 830px;
           height: 920px;
           margin: 10px;
           border: none;
           background-color: #fff;
           opacity: 2;
           z-index: 19;

     }


    #pauzed {
      font-family:'Nothing You Could Do', sans;
      color: yellow;
      font-size: 30px;
      position: absolute;
      top: 0px;
      left: 240px;
      right: 0px;
      bottom: 50px;
      background-color: rgba(0,0,0,0.7);
      text-align: right;
      vertical-align: bottom;
      padding-top: 0px;
      padding-right: 5px;
      font-style: italic;
      display: none;
      opacity: 0;
    }

    #pauzed.active {
      display: block;
      opacity: 1;

    }