@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=Exo:400,800);

/* reset */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {  
	margin: 0;     
	padding: 0;
	border: 0; 
	font-size: 100%;   
	font: inherit;
	vertical-align: baseline;
} 

/* scroll bars in chrome */

::-webkit-scrollbar {
    height: 2px;
    width: 2px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: rgba(200,100,150,1);
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

/* default styling */ 
  
body {
    margin: 0; padding: 0; overflow: hidden;
    background-image: url(/img/stardust.png);
    font: 16px Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}

/* editor */
  
#editor {
    position: absolute; top: 0px;  bottom: 0px; left: 0px; right: 0px;
    z-index: 10; 
}

#editor.dirty {
   background-color: rgba(15,0,15,1);
}

/* panels */

#panel {
  position: absolute; top: 0%; bottom: 0px; z-index: 20;  
  overflow: hidden;
  box-shadow: 3px 0px 5px #111;
  border-right: 1px solid rgba(255,255,255,0.2);

}

#panel {
  background-color: #333;  color: #222;
  background-image: -moz-linear-gradient(left, #333, #3D3D3D);
  background-image: -ms-linear-gradient(left, #333, #3D3D3D);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#3D3D3D));
  background-image: -webkit-linear-gradient(left, #333, #3D3D3D );
  background-image: -o-linear-gradient(left, #333, #3D3D3D);
  background-image: linear-gradient(left, #333, #3D3D3D);
  background-repeat: repeat-x;
  text-shadow: 0px 1px 1px #4d4d4d;
}

/* panel animation */

#panel {
    opacity: 0; transition: all 0.2s ease-out;
}

#panel.active {
    opacity: 1; transition: all 0.2s ease-out;
}  

/* panel */

#preview, #props, #help, #looks { display: none; position: absolute; top: 80px; left: 0px; bottom: 0px; padding-top: 0px; }
#help { width: 560px; overflow: auto; }
#props { width: 370px;  overflow: auto; }
#preview { width: 100%; overflow: hidden; }
#props { width: 370px;  overflow: auto; }

/* help */

#help { color: orange; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; padding-top: 80px;}

/* props  */

#title {
    border: 1px solid rgba(255,255,255,0.5);
    border-left: 0px; border-right: 0px;
    background-color: rgba(0,0,0,0.8); 
    color: white;
    font: 20px 'Ubuntu Condensed';
    padding: 7px 10px 7px 10px;
    box-shadow: 0px 5px 8px #000;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 30;
}

#url {
    position: absolute;
    top: 48px; right: 15px; 
    font: normal 18px 'Ubuntu Mono';
    background-color: transparent;
    color: #ffcc66;
    text-decoration: none;
    z-index: 40;
}

#url:hover {
  color: lime;
}

#preview_url {
  position: absolute;
  bottom: -2px;
  left: 0px; 
  right: 0px;
  width: 100%;
  font-family: 'Ubuntu Mono';
}

#preview_url, #category {
  color: #3366ff;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
}

#category {
    text-align: center;
    font-family: 'Ubuntu Condensed';
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
    padding-top: 0px;
}

#menu {
    text-align: center;
}

#menu a {
    display: inline-block;
    font-family: 'Ubuntu Condensed';
    font-size: 18px;
    color: rgba(200,100,150,1);
    padding: 8px 5px;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

#menu a:hover {
    color: lime;
}

#langs div, #skins div {
   width: 100px;
   background-color: #555;
   color: white;
   display: inline-block;
   text-align: center;
   margin: 1px 0px;
   padding: 3px 2px;
   font: 12px 'Ubuntu Condensed';
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   border-radius: 4px;
   border: 1px outset #666;
   cursor: pointer;
   opacity: 0.7;
   box-shadow: 0px 0px 2px #999;
   text-shadow: 0px 1px 1px #333;
}

#langs div:hover, #skins div:hover {
    background-color: #000;
    box-shadow: 0px 0px 2px orange;
    color: orange;
}

#langs div.active, #skins div.active { 
    background-color: #000;
    box-shadow: 0px 0px 2px lime;
    color: lime;
}


#langs, #skins { margin-top: 20px; padding-left: 20px; }

#preview iframe, #help iframe {
    background-color: white;
}

#preview .frame, #help .frame {
    /*box-shadow: 0px 0px 10px black;*/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow:hidden;
}

#preview .frame {
    bottom: 35px;
}

/* default visibility */

#files { display: none; }
#pauzed { display: none; }
#dashboard { display: none; }

/* index views */

body.index {
    overflow: auto;
    background-image: url(http://i.imgur.com/H73tez7.png);
    font-family: Exo;
}

.row {
    display: block;
}

.lang {
    width: 250px; 
    float: right;
    vertical-align: top;
    margin: 15px 15px 7px 15px;
    box-shadow: 0px 1px 10px black;
}

.files a {
    color: #113254;
    text-decoration: none;
    display: block;
    line-height: 20px;
    padding: 4px 10px 4px 10px;
    font-family: 'Ubuntu Condensed';
    font-size: 14px;
    margin-bottom: 1px;
    margin-top: 1px;
    background-color: rgba(255,255,255,0.8);
}

.fiddles a {
    color: white;
    background-color: #74777f;
    padding: 3px 6px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Ubuntu Condensed';
    display: block;
    text-decoration: none;
    margin-top: 1px;
}

.folder {
    float: right;
    clear: right;
    margin-top: 2px;
    width: 250px;
}

body.index h1 {
    font-size: 30px;
    color: white;
    background-color: rgba(125,0,125,1);
    text-shadow: 1px 0px 3px #ccc;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 3px 3px 10px black;
    padding: 10px 0px;
    
}

body.index h2 {
    font-size: 30px;
    color: #33ffff;
    font-style: italic;
    background-color: #113254;
    text-shadow: 1px 0px 3px #ccc;
    text-align: center;
    text-transform: uppercase;
}

body.index h3 {
    color: yellow;
    background-color: #2265a8;
    padding: 3px 6px;
    
    line-height: 20px;
    font-size: 14px;
    font-family: 'Ubuntu Condensed';
}


body.index .part, body.index .lastpart {
    display: inline-block;
    text-align: left;
    color: white;
}

body.index .part {
    font-size: 14px;
}

body.index .lastpart {
    color: lime;
    float: right;
    font-weight: 800;
    font-size: 18px;
}

